* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(202, 200, 200);
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.container:first-child {
  margin-bottom: 50px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.header_logo {
  font-size: 32px;
  text-decoration: none;
  color: black;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  width: 250px;
  height: 250px;
  margin-right: 20px;
  margin-bottom: 80px;
  // margin: 10px;

//   margin-top: 50px;
  position: relative;
  background-color: white;
  border-radius: 5px;
}

// .card_cover-inner {
//   position: relative;
//   height: 200px;
// }

.card_cover {
  width: 200px;
  height: 200px;
//   // height: 100%;
//   // padding: 10px 10px 0px 10px;
  position: absolute;
  top: -40px;
  left: 25px;
  box-shadow: 10px 10px 15px grey;
}

.card_cover--darkened {
  background-color: black;
  width: 200px;
  height: 200px;
  opacity: 0.2;
  position: absolute;
  top: -40px;
  left: 25px;
  z-index: 1;
}

.card_cover--darkened:hover {
  background-color: grey;
  cursor: pointer;
}

.card_info {
  margin-bottom: 10px;
  padding: 10px;
}

.card_title {
  font-size: 24px;
  font-weight: bolder;
  text-align: center;
  margin-top: 170px;
}